<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weight.mapper.WeightFeedLikeMapper">

    <resultMap type="WeightFeedLike" id="WeightFeedLikeResult">
        <result property="id" column="id"/>
        <result property="feedId" column="feed_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectWeightFeedLikeVo">
        select id, feed_id, user_id, create_time from weight_feed_like
    </sql>

    <select id="selectWeightFeedLikeList" parameterType="WeightFeedLike" resultMap="WeightFeedLikeResult">
        <include refid="selectWeightFeedLikeVo"/>
        <where>
            <if test="feedId != null"> and feed_id = #{feedId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectWeightFeedLikeById" parameterType="Long" resultMap="WeightFeedLikeResult">
        <include refid="selectWeightFeedLikeVo"/>
        where id = #{id}
    </select>

    <select id="selectWeightFeedLikeListByUserAndFeedIds" resultMap="WeightFeedLikeResult">
        <include refid="selectWeightFeedLikeVo"/>
        where user_id = #{userId}
          and feed_id in
        <foreach item="feedId" collection="feedIds" open="(" separator="," close=")">
            #{feedId}
        </foreach>
    </select>

    <insert id="insertWeightFeedLike" parameterType="WeightFeedLike" useGeneratedKeys="true" keyProperty="id">
        insert into weight_feed_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedId != null">feed_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedId != null">#{feedId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateWeightFeedLike" parameterType="WeightFeedLike">
        update weight_feed_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedId != null">feed_id = #{feedId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeightFeedLikeById" parameterType="Long">
        delete from weight_feed_like where id = #{id}
    </delete>

    <delete id="deleteWeightFeedLikeByIds" parameterType="String">
        delete from weight_feed_like where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteWeightFeedLikeByFeedIdAndUserId">
        delete from weight_feed_like where feed_id = #{feedId} and user_id = #{userId}
    </delete>
</mapper>
